<div class="d-flex">
<div class="receipt flex-column w-50" >


  
    
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <form>
                <!-- repeate by product number -->
                <div class="mb-3" >
                  <label for="prdName" class="form-label"> product name: </label>
                  <input type="text" class="form-control" id="prdName" aria-describedby="textHelp">
                </div>
                
                <div class="mb-3">
                    <label for="note" class="form-label">Note: </label>
                    <input type="text" class="form-control" id="note" >
                  </div>

                  <div class="mb-3">
                    <label for="room" class="form-label">Room: </label>
                    <input type="number" class="form-control" id="room" >
                  </div>

                  <div class="mb-3">
                    <label for="action" class="form-label">Action: </label>
                    <input type="text" class="form-control" id="action" >
                  </div>

                  <div class="mb-3">
                    <label for="amount" class="form-label">Total Price: </label>
                    <input type="text" class="form-control" id="amount" >
                  </div>
            
                  <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            
            </div>
      </div>
    
</div>
<hr>
<div class="products-order w-50">
    <div class="latest-order" *ngFor="let item of orderList">
        <div class="card mb-3 prod-car" style="max-width: 20rem; border: none">
            <div class="row row-cols-2 g-0 d-flex w-100">
              <div class="col-4 p-1 ">
                <img src="https://img.freepik.com/premium-photo/cup-coffee-oriental-style-metal-tray_93675-107319.jpg?size=626&ext=jpg&ga=GA1.2.1932154363.1665712397" class="img-fluid rounded-circle h-50" alt="...">
              </div>
              <div class="col-8">
                <div class="card-body position-relative card-content">
                  <h5 class="card-title">date: {{item?.date}}</h5>
                  <p class="card-text">user: <small >{{item?.user.username}}</small></p>
                  <p class="card-text">room: <small >{{item?.room}}</small></p>
                  <p class="card-text">ext: <small >{{item?.ext}}</small></p>
                  <p class="card-text">action: <small >{{item?.action}}</small></p>
                  <p class="card-text position-absolute bottom-0 end-0">price: <small >{{item?.amount}} <sup>$</sup></small></p>
          
                </div>
              </div>
            </div>
          </div>


    </div>
    <div class="products">
        <!-- <app-products-list></app-products-list> -->
    </div>
</div>
</div>